body {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
#main {
    background-color: rgb(220, 223, 226);
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
    border-radius: 1%;
}
#title {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    margin-top: 1em;
}
h4 {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-weight: 100;
}
#img-div {
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    width: 50%;
    border-radius: 1%;
}
#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
    opacity: 0.9;
}
#img-caption {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    margin-top: .1em;
    font-size: 0.9em;
    opacity: 0.7;
}
#tribute-info {
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
    text-decoration: underline;
    margin-top: 3em;
    margin-bottom: 1.5em;
}
li.list {
    margin-left: 3em;
    font-family: 'IBM Plex Serif', serif;
}
blockquote {
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
}
#name {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 900;
    text-align: center;
    margin-left: 9em;
    font-style: italic;
    opacity: 0.6;
}
footer {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 700;
    text-align: center;
}
a#tribute-link {
    font-size: 1.1em;
}
a#tribute-link:hover {
    color: orange;
}
footer#end {
    font-size: .7em;
    margin-top: 1em;
    opacity: 0.6;
}
